@{
    ViewData["Title"] = "Trang Tạo Mới Tác Giả";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Tạo Mới Tác Giả</h3></div>
        </div>
    </div>
</div>

<div class="app-content">
    <div class="container-fluid">
        <form method="post" class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="form-group mt-3">
                            <label for="name">Tên tác giả</label>
                            <input type="text" id="name" name="name" class="form-control"
                                   required maxlength="255" pattern=".*[A-Za-zÀ-ỹ].*"
                                   placeholder="Tên không được để trống hoặc chỉ chứa số."
                                   value="@ViewData["Name"]" />
                        </div>

                        <div class="form-group mt-3">
                            <label for="description">Giới thiệu</label>
                            <textarea id="description" name="description" class="form-control"
                                      maxlength="1000" placeholder="Nhập mô tả tác giả (tuỳ chọn)">
                        @ViewData["Description"]
                    </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3 text-end">
				<a keep-filter href="/admin/author" class="btn btn-secondary">Huỷ</a>
                <input type="submit" value="Lưu" class="btn btn-success">
            </div>
        </form>

    </div>
</div>
